body{
    background-color: #A6F6FF;
    height: auto;
    align-items: center;
    text-align: center;
}

h2 {
    margin-top: 90px;
    margin-bottom: 50px;
    color: #6499E9;
    font-family: fantasy;
    font-size: 50px;
}

.container {
    background-image: linear-gradient(to bottom right, #A6F6FF, #6499E9);
    box-shadow: 0 0 19px #9EDDFF;
    margin: 50px;
    padding: 1px;
    border-radius: 7px;
    align-items: center;
}

p {
    font-family: monospace;
}

h3 {
    font-family: monospace;
}

input {
    background-color: #6499E9;
    box-shadow: 0 0 1px #9EDDFF;
    padding: 10px;
    align-items: center;
    text-align: center;
    font-family: monospace;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: text;
}

input:hover {
    background-color: #9EDDFF;
    box-shadow: 0 0 3px #6499E9;
}

button {
    background-color: #BEFFF7;
    padding: 7px;
    font-family: monospace;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;z
}

button:hover {
    background-color: black;
    color: #BEFFF7; 
}

.outputkinda {
    display: none;
    font-family: monospace;
    font-size: 20px;
}

img {
    width:90px;
    height:90px;
}

.think {
    display: none;
}
