body{
    background-color: #FBF5DE;
    align-items: center;
    text-align: center;
}

h2 {
    margin-top: 90px;
    margin-bottom: 40px;
    color: #DC3C22;
    font-family: 'Franklin Gothic Medium';
    font-size: 40px;
}

.container {
    box-shadow: 0 0 4px #DC3C22;
    margin: 50px;
    padding: 1px;
    border-radius: 7px;
}

p {
    font-family: monospace;
}

h3 {
    font-family: monospace;
}

input {
    background-color: #3D74B6;
    box-shadow: 0 0 3px black;
    padding: 10px;
    align-items: center;
    text-align: center;
    font-family: monospace;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: text;
}

input:hover {
    background-color: #FBF5DE;
    box-shadow: 0 0 3px #3D74B6;
}

button {
    background-color: #F7CFD8;
    padding: 7px;
    font-family: monospace;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px #8E7DBE;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: #F7CFD8; 
}

.outputkinda {
    display: none;
    font-family: monospace;
}

img {
    width:90px;
    height:90px;
}

.think {
    display: none;
}
